asgiref==3.9.1
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
cloudinary==1.44.1
colorama==0.4.6
cryptography==45.0.6
decorator==5.2.1
Django==5.2.5
django-cloudinary-storage==0.3.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
ffmpeg==1.4
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
m3u8==6.0.0
moviepy==2.2.1
numpy==2.3.2
paypal-checkout-serversdk==1.0.3
paypalhttp==1.0.1
paypalrestsdk==1.13.3
phonenumbers==9.0.11
pillow==11.3.0
proglog==0.1.12
pycparser==2.22
PyJWT==2.10.1
pyOpenSSL==25.1.0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
shortuuid==1.0.13
six==1.17.0
sqlparse==0.5.3
stripe==12.4.0
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
